@font-face {
  font-family: "ns_thin";
  src: local("NotoSansKR"), url(resources/font/NotoSansKR-Thin.otf);
}
@font-face {
  font-family: "ns_light";
  src: local("NotoSansKR"), url(resources/font/NotoSansKR-Light.otf);
}
@font-face {
  font-family: "ns_regular";
  src: local("NotoSansKR"), url(resources/font/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: "ns_medium";
  src: local("NotoSansKR"), url(resources/font/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: "ns_bold";
  src: local("NotoSansKR"), url(resources/font/NotoSansKR-Bold.otf);
}
@font-face {
  font-family: "ns_black";
  src: local("NotoSansKR"), url(resources/font/NotoSansKR-Black.otf);
}