@charset "UTF-8";

.receipt {
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 1px 1px;
	margin: 3rem auto;
	padding: 2rem;
	width: 40rem;
	max-width: calc(100% - 2rem);
}

.merchant-name {
	font-size: 3.2rem;
	font-weight: bold;
}

.grid-data {
	align-items: end;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 1rem;
	margin-top: 2rem;
}

.calculations {
	border-top: 1px solid hsl(0, 0%, 50%);
	padding-top: 1rem;
}

.item-title, .item-price, .calc-title {
	margin-top: 1rem;
}

.item-title {
	font-size: 2rem;
	grid-column: 1;
}

.item-description {
	grid-column: 1;
	margin-top: 0.5rem;
}

.item-price {
	/*
  font-family: 'Source Code Pro', monospace;
*/
	font-size: 2rem;
	grid-column: 2;
	justify-self: end;
}

.calc-title {
	grid-column: 1;
}

.calc-amount {
	font-family: monospace;
	font-size: 2rem;
	grid-column: 2;
	justify-self: end;
}

.total {
	font-size: 2rem;
	font-weight: bold;
}

.subtle {
	color: hsl(0, 0%, 50%);
}

.footer {
	border-top: 1px solid hsl(0, 0%, 50%);
	margin-top: 2rem;
	padding-top: 2rem;
}

html {
	font-size: 10px;
}

.merchant-name {
	font-size: 24px;
}

.item-price {
	font-size: 15px;
}

.receipt {
	border-top: 0.4px solid #EAEBED;
}
